@font-face {
    font-family: KumbhSans-Regular;
    src: url(../../assets/Kumbh_Sans/static/KumbhSans-Regular.ttf);
}

#rightdiv{
    font-family: KumbhSans-Regular;
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
}

#header{
    margin: 0;
    font-size: 40px;
    font-weight: bolder;
}

#companyname{
    color: gray;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
}

#text{
    color: gray;
    width: 90%;
    font-size: 14px;
}

#oldprice{
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

#oldpriceinmobile{
    display: none;
}

#btndiv{
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn1{
    width: 35%;
    height: 70%;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-weight: 600;
    background-color: hsl(223, 64%, 98%);
    cursor: pointer;
}

#btn2{
    width: 60%;
    height: 70%;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: black;
    font-weight: 600;
    background-color: hsl(26, 100%, 55%);
    cursor: pointer;
}

#smallcart{
    width: 17px;
    height: 15px;
    color: black;
}

#pricediv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 13px;
}

#newprice{
    font-weight: bolder;
    font-size: 25px;
}

#discount{
    background-color: black;
    color: white;
    width: 40px;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
}

@media screen and (max-width:450px){
    #rightdiv{
        font-family: KumbhSans-Regular;
        width: 100%;
        flex-grow: 1;
        row-gap: 5px;
    }

    #header{
        font-size: 30px;
    }

    #text{
        width: 100%;
        font-size: 13px;
    }

    #oldprice{
        display: none;
    }

    #oldpriceinmobile{
        display: flex;
        color: gray;
    font-weight: bold;
    font-size: 18px;
    margin-left: 50%;
    }

    #btndiv{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    #btn1{
        width: 100%;
        height: 48%;
    }

    #btn2{
        width: 100%;
        height: 48%;
    }
}